@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="d-flex">
        <div class="d-flex flex-column gap-3">
            <h1 class="display-4 fst-italic fw-bold">S<span class="display-3 fw-bold">V</span>G</h1>
            <form class="border border-2 d-flex flex-fill flex-column gap-3 p-3 rounded">
                <textarea class="border-0 form-control" id="textareaEl"
                    placeholder="Enter comment here, remember to #hashtag the contestant" rows="3"
                    style="outline: none !important; resize: none;"></textarea>

                <div class="d-flex justify-content-between">
                    <p class="text-secondary" id="charCount">150</p>

                    <button class="btn btn-primary rounded-pill">Submit</button>
                </div>
            </form>

            <ul class="list-group">
                <li class="align-items-center d-flex gap-3 list-group-item">
                    <div class="align-items-center bg-secondary d-flex justify-content-center p-3 rounded">
                        <p class="fs-3 fw-bold text-white m-0">G</p>
                    </div>
                    <div class="d-flex flex-column text-start">
                        <p class="text-secondary m-0">Superman</p>
                        <p class="m-0">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia optio, iusto,
                            assumenda quis
                            fugiat
                            cumque distinctio sed consequatur error necessitatibus quibusdam quo eveniet, quidem
                            cupiditate
                            maxime
                            laudantium officiis. Iste, reiciendis.
                        </p>
                    </div>
                    <p class="m-0">9/18/2023</p>
                </li>
                <li class="align-items-center d-flex gap-3 list-group-item">
                    <div class="align-items-center bg-secondary d-flex justify-content-center p-3 rounded">
                        <p class="fs-3 fw-bold text-white m-0">G</p>
                    </div>
                    <div class="d-flex flex-column text-start">
                        <p class="text-secondary m-0">Superman</p>
                        <p class="m-0">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia optio, iusto,
                            assumenda quis
                            fugiat
                            cumque distinctio sed consequatur error necessitatibus quibusdam quo eveniet, quidem
                            cupiditate
                            maxime
                            laudantium officiis. Iste, reiciendis.
                        </p>
                    </div>
                    <p class="m-0">9/18/2023</p>
                </li>
            </ul>
        </div>

        <ul class="d-flex flex-column gap-3">
            <li class="border-0 list-group-item">
                <a class="border link-secondary rounded-pill text-decoration-none" href="#superman">
                    <span>Superman</span>
                </a>
            </li>
            <li class="border-0 list-group-item">
                <a class="border link-secondary rounded-pill text-decoration-none" href="#superman">
                    <span>Goku</span>
                </a>
            </li>
        </ul>
    </div>
</div>
